.container_form_login {
    padding: 50px 0;
     min-height: calc( 100vh - 180px);
     margin-top: 80px;
  // margin-top: 80px;

    #register_form,#login_form {
        border: 2px solid red;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        padding: 30px;
        max-width: 30%;
        border-radius: 5px;

        #register_btn_form, #login_btn_form {
            background-color: rgb(123, 186, 123);
            color: white;
            border-radius: 50px;
            font-weight: bold;
            border: none;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }
    }
}
@media all and (max-width: 991px) {
 /* main {
    min-height: 80vh;
  }*/
  
  .container_form_login { 
    position: relative;
    
    #register_form,#login_form {
      label {
        &.label_none_md,&.password_login, &.email_login{
        display: none;
        }
        
      }

      .wrapper_input {
          position: absolute;
          width: 65%;
          top:50%;
          left:50%;
          transform: translate(-50%, -50%);
        }
     
      .box_input_credential {
        background-color: white;
        padding: 10px;
        margin-top:60px;
        width: 100%;

      .input_credential {
        &:focus {
          box-shadow: none;
        }
        border:none;
        border-bottom: 2px solid red;
        background-color: transparent;
        height: 30px;
      }
    }
      position: absolute;
      border-radius: 50px;
      max-width: 70%;
      height: 80%;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
  } 
  } 
  

}

@media all and (max-width: 576px) {

  .container_form_login {
      min-height: 90vh;
      padding: 0;
      #login_form,#register_form{
      max-width: 98%;
      padding: 20px 30px;
    
      .box_input_credential .input_credential {
      height: 30px;
      }
    }
  }
    .container_form_login #register_form .box_input_credential {
      margin-top: 30px;
    }
  }

  @media all and (max-width: 330px) {
    .container_form_login #register_form, .container_form_login #login_form {
      min-height: 98%;
    }

  } 

