/*--------------------
SHARED VARIABLES
--------------------*/
$red_payment: #E91E63;
$blue_payment: #3F51B5;
$grey_payment: #EAE8E9;
$grey2_payment: #f3f3f3;
$white_payment: #FFF;

/*--------------------
GENERAL
--------------------*/

#cardForm_payment {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*--------------------
PANEL FORM
--------------------*/

.panel {
 
 width: 80%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
  overflow: hidden;
  border-radius: 10px;
}

.panel__header {
 
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background: $blue_payment;
  color: $white_payment;
  label {
    font-size: 25px;
    font-weight: bolder;
  }
  .card-item__chip {
    height: 60px;
  }
}

.panel__header,
.panel__footer {
  padding: 1em 2em;
}

.panel__footer {
  background: $grey2_payment;  
}

.panel__content {
  padding: 1em 2em;
  overflow: hidden;
}

.textfield--float-label {
  width: 50%;
  float: left;
  display: inline-block;
  padding-right: 5px;

  .custom_payment_border:focus {
    border-bottom: 2px solid $blue_payment;
  }
}




.hosted-field--label, .custom_payment_label {
  transform: translateY(0.4em);
  font-size: 1.125em;
  line-height: 32px;
  transition: all .15s ease-out;
  display: block;
  width: 100%;
  font-weight: 400;
  overflow: hidden;
  margin-bottom: 0.5em;

  i {
      height: 20px;
      margin-right: 0.5em;
  }
  &.label-float {
    text-overflow: ellipsis;
    color: #2196F3;
    transition: all .15s ease-out;
  }
  &.filled {
    @extend .label-float;
    color: rgba(0, 0, 0, .54);
  }
  &.invalid {
    @extend .label-float;
    color: #F44336;
  }
}

span.icon {
  position: relative;
  top: 0.2em;
  margin-right: 0.2em;
}

svg.svg_payment {
  fill: #333;
}

.hosted-field {
  height: 32px;
  margin-bottom: 1em;
  display: block;
  background-color: transparent;
  color: rgba(0, 0, 0, .87);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .26);
  outline: 0;
  width: 100%;
  font-size: 16px;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  position: relative;

  .custom_payment_input {
    border:none;
    background-color: transparent;
    &:focus {
      outline:none;
      
    }
  }

}

.pay-button {
  background: #e3342f;
  border-radius: 50px;
  padding: 5px 10px;
  color: #fff;
  margin: 0 auto;
  padding: 1em 3em;
  font-size: 1em;
  text-transform: uppercase;
  box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .2);
}


/*--------------------
BT HOSTED FIELDS SPECIFIC 
--------------------*/

.braintree-hosted-fields-focused {
  border-bottom: 2px solid $blue_payment;
  transition: all 200ms ease;
}

.braintree-hosted-fields-invalid {
  border-bottom: 2px solid $red_payment;
  transition: all 200ms ease;
}


/*---------------------
Media Queries
----------------------*/

@media (max-width: 600px) {
  
  #cardForm {
    height: auto;
    margin: 2em;
    font-size: 13px;
  }
  .panel {
    width: 100%;
  }
  .textfield--float-label {
    width: 100%;
    float: none;
    display: inline-block;
  }
  .pay-button {
    width: 100%;
  }
}

@media all and (max-width: 576px) {
  .panel__header {
    label,h1 {
      font-size: 1.6rem;
    }
    
  }
}