$cl_black: #303030;
$cl_green: #008169;
$cl_grey: #c1c1c1;

// Primary
$yellowPrimary: #FFC244;
$greenPrimary: #00A082;
$black: #1E1E1E;
$gray: #9B9B9B;
$white: #ffffff;
$grayAside: #FCFCFA;
$darkWhite: #F5F5F5;

//Hover
$greenPrimaryHover: #008169;


//Box shadow
$shadowCard: 0 2px 20px 0 rgb(0 0 0 / 10%);
$darkShadowCard: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
// shadow dashboard
$shadowDashboard: 0 2px 20px 8px rgb(0 0 0 / 20%);

//Border Radius Card
$borderRadCard: 10px;

// padding e margin
$paddingAside: 50px 22px;
$paddingMain: 50px 80px;

//Button Header
$borderRadiusButtonHeader: 3px 3px 5px 0 rgb(0 0 0 / 10%);
$buttonPadding: 12px 28px;
$fontWeightButton: 700;


//Altezze
$headerHeight: 80px;
$footerHeight: 50px;
$carouselHeight: 300px;
